header{
    background-color: rgba(26, 26, 163, 0.658);
    height: 40px;
    width: 100%;
    text-align: center;
    color: red;
}
main, aside{
    min-height: 800px;
}

main{
    background-color: rgba(140, 26, 206, 0.534);
    width: 80%;
    height: 100%;
    float: right;
    text-align: justify;
}

aside{
    width: 20%;
    float: left;
    text-align: center;
    background-color: orangered;
}

footer{
    clear: both;
    background-color: red;
    text-align: center;
}

.paragrafo{
    text-indent: 2em;
}